<app-navbar></app-navbar>

<main class="container-fluid  bg-light">
  <div class="row">
    <div class="col-12">
        <div class="mb-3">
        <div class="btn-group ">
            <button [routerLink]="['/principal']" class="btn btn-sm btn-outline-info2">Activas</button>
            <button [routerLink]="['/principal']"  class="btn btn-sm btn-outline-info2">Anuladas</button>
            <a [routerLink]="['/multar']" class="btn btn-block btn-outline-danger" >Multar</a>
        </div>
        </div>
    </div>
   </div>
   <div class="maxwidth">
  <form [formGroup]="formNuevaMulta" (submit)="nuevaMulta()"  class="form">
      <app-alert [alert]="alert"></app-alert>
    <div class="form-group">
    <label for="matricula">Vehiculo seleccionado</label>
    <input readonly  type="text" value="{{coche.matricula}} - {{coche.modelo}}" class="form-control">
    </div>

    <div class="form-group">
    <label for="importe">Importe</label>
    <input formControlName="importe"  type="text" placeholder="Introduce un valor numerico valido" value="${importe!=null ? importe : ''}" class="form-control" [autofocus]=true>
    <small *ngIf="formNuevaMulta.invalid" id="emailHelp" class="form-text text-muted">Valor minimo 10, maximo 9999</small>
  </div>


    <div class="form-group">
    <label for="concepto">Concepto</label>
     <br>
    <textarea formControlName="concepto" class="form-control" placeholder="minimo 10 caracteres maximo 255"  id="concepto"  rows="5"  >${concepto!=null ? concepto : ''}</textarea>
    <small *ngIf="formNuevaMulta.invalid" id="emailHelp" class="form-text text-muted">Minimo 10, maximo 255 caracteres</small>
    </div>


    <div  class="form-group">
    <button  [disabled]="formNuevaMulta.invalid" type="submit" class="btn btn-principal  btn-block">MULTAR</button>
    </div>

  </form>

</div><!--/maxwitdt-->
</main>
