$color-principal: rgb(6, 108, 98);
$color-secundario: rgb(0, 166, 156);



.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 25px;
  margin:10px auto;
  background-color:rgba(245, 245, 245, 1);
  border-radius: 10px ;
  .imgn{max-width: 175px; margin: 0 auto;}
  img{max-width: 175px;}
  -webkit-box-shadow: 11px 11px 51px -5px rgba(6,108,97,0.35);
  -moz-box-shadow: 11px 11px 51px -5px rgba(6,108,97,0.35);
  box-shadow: 11px 11px 51px -5px rgba(6,108,97,0.35);
}


