<div class="container">
    <div style="border:1px solid red; padding:10px;">
        <p>Valores: {{ formulario.value | json }}</p>
        <p>Estado:  {{ formulario.status | json }}</p>
      </div>

<form class="form-signin" method="post" action="login"  [formGroup]="formulario" (submit)="comprobar()">

    <img src="assets/img/logo.png" alt="" >
    <app-alert [alert]="alert"></app-alert>
       <div class="mb-1">
    <label for="placa" class="sr-only">Agente</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <span class="input-group-text"><i class="texto-principal fas fa-address-book"></i></span>
       </div>
        <input type="text" id="placa" name="placa" class="form-control" placeholder="Nº Placa: 222" value= ""   formControlName="placa">
     </div>
   </div>

   <div class="mb-1">
     <label for="pass"  class="sr-only">Contraseña</label>
     <div class="input-group">

       <div class="input-group-prepend">
         <span class="input-group-text">  <i class="texto-principal fas fa-unlock-alt"></i>  </span>
       </div>
       <input type="pass" class="form-control" id="pass" name="pass" placeholder="Pa$$w0rd" value="" formControlName="pass">
     </div>
   </div>

     <button class="btn btn-lg  btn-block mb-3 mt-3  btn-principal" type="submit" [disabled]="formulario.invalid">
     Acceder
     </button>
     </form>
</div>



