<div class="container">


<form class="form-signin"  [formGroup]="formulario" (submit)="comprobar()">


    <!----><div class="imgn"><img src="assets/img/logo.png" alt="" ></div>
    <app-alert [alert]="alert"></app-alert>
       <div class="mb-1">
    <label for="placa" class="sr-only">Agente</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <span class="input-group-text"><i class="texto-principal fas fa-address-book"></i></span>
       </div>
        <input type="text" id="placa" name="placa" class="form-control" placeholder="Nº Placa: 222" formControlName="placa" autofocus>
     </div>
   </div>

   <div class="mb-1">
     <label for="pass"  class="sr-only">Contraseña</label>
     <div class="input-group">

       <div class="input-group-prepend">
         <span class="input-group-text">  <i class="texto-principal fas fa-unlock-alt"></i>  </span>
       </div>
       <input type="password" class="form-control" id="pass" name="pass" placeholder="Pa$$w0rd"  formControlName="pass">
      </div>
      <small *ngIf="formulario.invalid" id="emailHelp" class="form-text text-muted">Minimo 3 caracteres</small>
   </div>

     <button class="btn btn-lg  btn-block mb-3 mt-3  btn-principal" type="submit" [disabled]="formulario.invalid">
     Acceder
     </button>



    </form>
</div>



