$color-principal: #066C62;
$color-secundario: #00A69C;

.bg-principal{
  background-color:$color-principal;
}
.bg-secundario{
  background-color:$color-secundario;
}
.texto-principal{
  color:$color-principal;
}
.texto-secundario{
  color : $color-secundario;
}


