<form  novalidate class="form-signin" method="post" action="login">

    <h1 class="h3 mb-3 font-weight-normal">Acceso Agente</h1>


       <div class="mb-1">
    <label for="placa" >Agente</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <span class="input-group-text"><i class="fas fa-address-book"></i></span>
       </div>
        <input type="text" id="placa" name=placa class="form-control" placeholder="Nº Placa: 222" value= "${not empty placa ? placa : ''}" >
     </div>
   </div>

   <div class="mb-1">
     <label for="pass" >Contraseña</label>
     <div class="input-group">

       <div class="input-group-prepend">
         <span class="input-group-text">  <i class="fas fa-unlock-alt"></i>  </span>
       </div>
       <input type="pass" class="form-control" id="pass" name="pass" placeholder="123456" value="${not empty pass ? pass : ''}">
     </div>
   </div>

     <button class="btn btn-lg  btn-block mb-3 mt-3  btn-info" type="submit">
     Acceder
     </button>
     </form>
