
<nav class="navbar navbar-expand-md navbar-light  bg-light">
<a class="navbar-brand  mr-auto" href="">
<img src="assets/img/m.png" height="70px" width="70px">
</a>
<ul class="navbar-nav float-right">
<li><button type="button" class="btn btn-principal btn-block" data-toggle="modal" data-target="#perfil" >
<i class="far fa-address-card fa-2x"></i>
</button>
</ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="perfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sesión Actual</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul  class="col-8 list-unstyled mt-3 mb-4">
        <li>Agente: {{agenteLogeado.apellido}}	</li>
        <li>Numero de placa: {{agenteLogeado.placa}}</li>
        <li>Departamento: {{agenteLogeado.departamento}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <a href="" class="btn btn-principal btn-block ">Cerrar Sesión </a>
      </div>
    </div>
  </div>
</div>



