<app-navbar></app-navbar>

<main class="container-fluid bg-light">
<div class="row">



  <div class=" col-12">
    <div class="mb-3">
        <div class="btn-group ">
          <button class="btn btn-sm  {{(isActiva)?'btn-principal text-white':'btn-outline-info2'}}" (click)="cambiarEstado(true)">Activas</button>
          <button class="btn btn-sm  {{(!isActiva)?'btn-principal  text-white':'btn-outline-info2'}}" (click)="cambiarEstado(false)">Anuladas</button>      
          <button class="btn btn-sm btn-outline-info2" >Objetivos</button>
          <a class="btn btn-block btn-outline-danger" [routerLink]="['/multar']">Multar</a>
        </div>
        <div class="mt-2 mb-2">
          <input type="text" class="form-control" placeholder="Buscador" [(ngModel)]="searchText">
          {{searchText}}
      </div>
      </div>
      <p *ngIf="((multas | estadoMulta : isActiva) == 0)">No existen multas {{(isActiva)?'activas':'anuladas'}}</p>
      <app-alert [alert]="alert"></app-alert>
      <table *ngIf="((multas | estadoMulta : isActiva) != 0)" id="tablaMulta" class="table col-12" >
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th *ngIf="!isActiva">Fecha anulacion</th>
                  <th>Matricula</th>
                  <th>Importe</th>
                  <th>Concepto</th>
                  <th>Modelo</th>
                  <th>Kilometros</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let m of multas | buscar : searchText | estadoMulta : isActiva  ">
                <td>{{m.fecha | date:"dd/MM/yy"}}</td>
                <td *ngIf="!isActiva">{{m.fecha_baja | date:"dd/MM/yy"}}</td>
                <td>{{m.matricula}}</td>
                <td>{{m.importe | number:'1.1-2'}}€</td>
                <td>{{m.concepto}}</td>
                <td>{{m.modelo}}</td>
                <td>{{m.kilometraje  | number:'1.1-2'}}km</td>
                <td>
                  <button *ngIf="isActiva" (click)=alterarEstadoMulta(true,m.id)  class="btn btn-block btn-outline-danger">Anular</button>
                  <button *ngIf="!isActiva" (click)=alterarEstadoMulta(false,m.id) class="btn btn-block btn-outline-danger">Activar</button>
                  <!--<button (click)="alterarEstadoMulta((isActiva)?true:false,m.id)" class="btn btn-block {{(isActiva)?'btn-outline-danger':'btn-outline-warning'}}">{{(isActiva)?'Anular':'Activar'}}</button></td>-->
            </tr>
          </tbody>
      </table>
    </div>
</div>
</main>

