<app-navbar></app-navbar>

<main class="container-fluid">
<div class="row">

  <div class="jumbotron col-3">
     <button class="btn btn-block btn-outline-danger">Multar</button>
  </div>

  <div class=" col-9">
        <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Activas</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Anuladas</button>
              </div>
      <table id="tablaMulta" class="table col-12 " >
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th>Matricula</th>
                  <th>Importe</th>
                  <th>Concepto</th>
                  <th>Modelo</th>
                  <th>Kilometros</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let m of multas">
                <td>{{m.fecha}}</td>
                <td>{{m.matricula}}</td>
                <td>{{m.importe}}</td>
                <td>{{m.concepto}}</td>
                <td>{{m.modelo}}</td>
                <td>{{m.kilometraje}}</td>
                <td><button class="btn btn-block btn-outline-warning">Anular/Activar</button></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>

</main>

