<app-navbar></app-navbar>

<main class="container-fluid bg-light">
<div class="row">



  <div class=" col-12">
    <div class="mb-3">
        <div class="btn-group ">
          <button class="btn btn-sm  {{(isActiva)?'btn-principal text-white':'btn-outline-info2'}}" (click)="cambiarEstado(true)">Activas</button>
          <button class="btn btn-sm  {{(!isActiva)?'btn-principal  text-white':'btn-outline-info2'}}" (click)="cambiarEstado(false)">Anuladas</button>
          <a class="btn btn-block btn-outline-danger" [routerLink]="['/multar']">Multar</a>
        </div>
      </div>
      <p *ngIf="(multas | estadoMulta : isActiva) == 0">No existen multas {{(isActiva)?'activas':'anuladas'}}</p>

      <table *ngIf="(multas | estadoMulta : isActiva) != 0" id="tablaMulta" class="table col-12" >
          <thead>
              <tr>
                  <th>Fecha</th>
                  <th *ngIf="!isActiva">Fecha anulacion</th>
                  <th>Matricula</th>
                  <th>Importe</th>
                  <th>Concepto</th>
                  <th>Modelo</th>
                  <th>Kilometros</th>
                  <th>Accion</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let m of multas | estadoMulta : isActiva ">
                <td>{{m.fecha}}</td>
                <td *ngIf="!isActiva">{{m.fecha_baja}}</td>
                <td>{{m.matricula}}</td>
                <td>{{m.importe}}</td>
                <td>{{m.concepto}}</td>
                <td>{{m.modelo}}</td>
                <td>{{m.kilometraje}}</td>
                <td><button class="btn btn-block {{(isActiva)?'btn-outline-danger':'btn-outline-warning'}}">{{(isActiva)?'Anular':'Activar'}}</button></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
</main>

