<div class="container">
<form  novalidate class="form-signin" method="post" action="login">
    <img src="assets/img/logo.png" >

       <div class="mb-1">
    <label for="placa" class="sr-only">Agente</label>
     <div class="input-group">
       <div class="input-group-prepend">
         <span class="input-group-text"><i class="texto-principal fas fa-address-book"></i></span>
       </div>
        <input type="text" id="placa" name=placa class="form-control" placeholder="Nº Placa: 222" value= "" >
     </div>
   </div>

   <div class="mb-1">
     <label for="pass"  class="sr-only">Contraseña</label>
     <div class="input-group">

       <div class="input-group-prepend">
         <span class="input-group-text">  <i class="texto-principal fas fa-unlock-alt"></i>  </span>
       </div>
       <input type="pass" class="form-control" id="pass" name="pass" placeholder="Pa$$w0rd" value="">
     </div>
   </div>

     <button class="btn btn-lg  btn-block mb-3 mt-3  btn-principal" type="submit">
     Acceder
     </button>
     </form>
</div>
